#自定义配置文件
user:
  cname: fred
  age: 22
  info: ${user.cname}已经${user.age}

#Redis配置
spring:
  redis:
    host: localhost
    port: 6379

#数据源配置
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:33066/test?useUnicode=true&characterEncoding=utf-8
    username: root
    password: root

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.cloudoer.project.project.module.bean

#spring-boot监控
management:
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include: health,info,env,metrics,trace,beans,status,loggers
      base-path: /monitor
  server:
    port: 8081